fastapi==0.115.6
uvicorn[standard]==0.34.0
httpx[http2]==0.28.1
pydantic==2.10.4
PyJWT==2.10.1
cryptography==44.0.0
psycopg[binary]==3.2.3
sqlalchemy==2.0.41
redis==5.2.1
redisstream-coordinator @ https://github.com/ghkdqhrbals/redis-stream-coordinator/releases/download/v0.1.0/redisstream_coordinator-0.1.0-py3-none-any.whl
boto3==1.35.90
pytest==8.4.1
pytest-asyncio==0.25.3
